.step3 {
  width: 72%;
  height: 85%;
  position: relative;
}
.step3 > p {
  margin: 10px 0 10px 0;
  color: var(--Cool-gray);
}
.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--Light-gray);
  margin-bottom: 5px;
  padding: 10px;
}
.box:hover {
  border: 1px solid var(--Purplish-blue);
}
.box__sub {
  display: flex;
}
.box__sub > div {
  margin-left: 10px;
}
.right__button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--Purplish-blue);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--White);
}
.left__button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--Purplish-blue);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--White);
}
