.step4 {
  width: 72%;
  height: 85%;
  position: relative;
}
.step4 p {
  margin: 10px 0 10px 0;
  color: var(--Cool-gray);
}
.cost__card__box {
  margin-top: 20px;
  padding: 20px;
}
.cost__changer a {
  text-decoration: underline;
  cursor: pointer;
  color: var(--Cool-gray);
}
.cost__changer a:hover {
  color: var(--Purplish-blue);
}
.cost__changer p {
  margin: 0;
  font-weight: 900;
  color: var(--Marine-blue);
}
.cost__card {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cost__card > h3 {
  font-weight: 900;
  color: var(--Purplish-blue);
}
