.step1 {
  width: 72%;
  height: 85%;
  position: relative;
}
.step1 p {
  margin: 10px 0 10px 0;
  color: var(--Cool-gray);
}
.step1 input {
  display: block;
  width: 95%;
  height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--Light-gray);
  border-radius: 10px;
  outline: none;
}
.step1 input:focus {
  border-color: var(--Purplish-blue);
}
.step1 label {
  font-size: 14px;
}
.right__button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--Purplish-blue);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--White);
}
