* {
  margin: 0;
  padding: 0;
}
.Step5 {
  width: 72%;
  height: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Step5 p,
.Step5 h2,
.Step5 img {
  margin: 20px 0 0px 0;
}
.Step5 p {
  color: var(--Cool-gray);
}
