@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Open+Sans&family=Outfit&family=Raleway&family=Stick+No+Bills&family=Ubuntu&display=swap");

:root {
  /* Primary */

  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%);
  --Strawberry-red: hsl(354, 84%, 57%);

  /* Neutral */

  --Cool-gray: rgb(150, 153, 171);
  --Light-gray: rgb(214, 217, 230);
  --Magnolia: rgb(240, 246, 255);
  --Alabaster: rgb(250, 251, 255);
  --White: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  color: var(--Marine-blue);
  display: grid;
  place-items: center;
}
main {
  width: 60vw;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*---------------------------- step1 ------------------------------------------------*/
.sidebar {
  grid-column: 1/2;
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 8px;
  color: var(--Alabaster);
}
.sidebar-sub {
  padding: 20px;
}
.sidebar__child {
  display: flex;
  flex-direction: row;
  margin: 20px 0 0px 0;
}
.circle {
  color: var(--White);
  display: grid;
  place-items: center;
  border: 1px solid var(--White);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.circle-info {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.panel {
  grid-column: 2/3;
  display: grid;
  place-items: center;
  width: 100%;
}
.step1,
.step2 {
  width: 72%;
  height: 85%;
  position: relative;
}
.step1 p,
.step2 p {
  margin: 10px 0 10px 0;
}
.step1 input {
  display: block;
  width: 95%;
  height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--Light-gray);
  border-radius: 10px;
  outline: none;
}
.step1 input:focus {
  border-color: var(--Purplish-blue);
}
.step1 label {
  font-size: 14px;
}
.right__button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--Purplish-blue);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--White);
}
.left__button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--Purplish-blue);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--White);
}

.disable {
  display: none;
}
/*---------------------------- step2 ------------------------------------------------*/
.tiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0;
}
.tile {
  height: 100%;
  border: 1px solid var(--Light-gray);
  padding: 20px 0 20px 10px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tile:focus {
  border-color: var(--Purplish-blue);
}
.tile__info {
  text-align: left;
}
.switch {
  width: 100%;
  text-align: center;
}
.switch p {
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2.5fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "sidebar"
      "panel";
    overflow: hidden;
  }
  /*---------------------------- step1 ------------------------------------------------*/

  .sidebar {
    grid-area: sidebar;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    border-radius: 0px;
    color: var(--Alabaster);
  }
  .sidebar-sub {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
  .sidebar__child {
    display: flex;
    flex-direction: row;
    margin: 0 20px 0 0px;
    align-items: center;
    justify-content: center;
  }
  .circle-info {
    display: none;
  }
  .panel {
    grid-area: panel;
    position: relative;
  }
  .step1,
  .step2 {
    position: absolute;
    top: -60px;
    padding: 20px;
    background-color: var(--White);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
  }
  .right__button {
    margin: 0 40px 10px 0;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  /*---------------------------- step2 ------------------------------------------------*/
  .left__button {
    margin: 0 0 10px 40px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .tiles {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    margin: 0;
    grid-row-gap: 5px;
  }
  .tile {
    width: 100%;
    height: 100%;
    border: 1px solid var(--Light-gray);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin: 0px;
    padding-left: 20px;
  }
  .tile__info {
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
    display: grid;
  }
}
